<form action="/payment/results">
<label for="number_entry_apr">APR</label>
<input id="number_entry_apr" type="text" name="user_apr"> 

<label for="number_entry_years">Number of years</label>
<input id="number_entry_years" type="text" name="user_years"> 

<label for="number_entry_principal">Principal</label>
<input id="number_entry_principal" type="text" name="user_principal"> 

<button>Calculate monthly payment</button>
</form>