<form action="/random/results">
<label for="number_entry_minimum">Minimum</label>
<input id="number_entry_minimum" type="text" name="user_min"> 
<label for="number_entry_maximum">Maximum</label>
<input id="number_entry_maximum" type="text" name="user_max"> 
<button>Pick random number</button>
</form>