<h1>howdy<h1>

<form>
<label for="number_entry">Enter a number</label>
<input id="number_entry" type="text" placeholder="what number do you want to square?"> 
<button>Calculate square </button>
</form>